<li class="list-group-item">
	{{name}}

	{{!-- <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button> --}}

	<button  "eat-burgerbtn btn-outline-dark" data-id="{{this.id}}">Devored it!</button>
</li>
