<li class="list-group-item">
	<p class="foat-left" data-id="{{id}}" data-newdevor="{{devor}}">
		{{#if devor}} {{id}}| {{burger_name}} {{/if}}
	</p>

	<button class="eat-burgerbtn btn-outline-dark float-right" data-id="{{this.id}}">Devor it!</button>
</li>
